<p class="card-text me-1">
  <% recipe.avg_rating.to_i.times do %>
    <i class="fa-solid fa-star"></i>
  <% end %>
  <% if (recipe.avg_rating - recipe.avg_rating.to_i) > 0.25 %>
    <i class="fa-regular fa-star-half-stroke"></i>
    <% (5 - recipe.avg_rating.to_i - 1).times do %>
      <i class="fa-regular fa-star"></i>
    <% end %>
  <% else %>
    <% (5 - recipe.avg_rating.to_i).times do %>
      <i class="fa-regular fa-star"></i>
    <% end %>
  <% end %>
</p>
