<div class="container" data-controller="refresh-list">
  <%= form_with url: recipes_path, method: :get, html: { class: 'mb-5', data: { refresh_list_target: 'form' } } do |f| %>
    <%= f.text_field :query,
    class: "form-control mt-3 search-bar mb-0",
    placeholder: "Find a recipe",
    value: params[:query],
    data: {
      refresh_list_target: 'searchInput',
      action: "keyup->refresh-list#update"
    }
  %>
    <%# <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  <%= render 'list', recipes: @recipes %>
</div>
