.navbar-lewagon {
  justify-content: space-between;
  background: $text-color;
  color: $choco-color;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
